In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame({'year':[2021,2022], 'month': [5,12], 'day':[1,14]})
df

   year  month  day
0  2021      5    1
1  2022     12   14

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    2 non-null      int64
 1   month   2 non-null      int64
 2   day     2 non-null      int64
dtypes: int64(3)
memory usage: 176.0 bytes

In [6]:
# df 객체 타입 정보
df.dtypes

year     int64
month    int64
day      int64
dtype: object

In [7]:
# DateTime으로 변환하기 -> pandas.to_datetime()
result = pd.to_datetime(df)
type(result), result

(pandas.core.series.Series,
 0   2021-05-01
 1   2022-12-14
 dtype: datetime64[ns])

In [8]:
result[0], type(result[0])   # Series 한줄은 datetime64, 낱개는 timestamp로 나온다.

(Timestamp('2021-05-01 00:00:00'), pandas._libs.tslibs.timestamps.Timestamp)

# 타입 및 다른 포맷 변환 메서드들 -> to_변환타입()

In [9]:
# 타입 및 다른 포맷 변환 메서드들 -> to_변환타입()
result.to_frame()

           0
0 2021-05-01
1 2022-12-14

In [10]:
result.to_csv('result.csv')

In [11]:
result.to_json('result2.json')

In [12]:
result.to_clipboard()

In [13]:
result.to_latex()

C:\Users\User\AppData\Local\Temp\ipykernel_11060\3369639976.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  result.to_latex()

'\\begin{tabular}{ll}\n\\toprule\n{} &          0 \\\\\n\\midrule\n0 & 2021-05-01 \\\\\n1 & 2022-12-14 \\\\\n\\bottomrule\n\\end{tabular}\n'

In [14]:
# index= True/False 인덱스 유무 결정
result.to_csv('result.csv', index=False)

In [15]:
pd.Timestamp(2022,4,5)
# Timestamp의 속성 알아보기
one = result[0]
one.day, one.month_name, one.is_month_end, one.is_month_start

(1, <function Timestamp.month_name>, False, True)

# CSV 파일 활용 실습
- 날짜 데이터가 있는 CSV파일 처리하기

In [16]:
PATH = '../DATA_WOO/'
FILENAME = PATH + 'survey_visited.csv'
visitDf = pd.read_csv(FILENAME)
# 결측치 처리(이전값으로 치환)
visitDf.fillna(method='ffill', inplace=True)

In [17]:
visitDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ident   8 non-null      int64
 1   site    8 non-null      object
 2   dated   8 non-null      object
dtypes: int64(1), object(2)
memory usage: 320.0+ bytes

In [18]:
visitDf['dated'] =pd.to_datetime(visitDf['dated'])

In [19]:
visitDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ident   8 non-null      int64
 1   site    8 non-null      object
 2   dated   8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 320.0+ bytes

In [20]:
DaeguDf = pd.DataFrame({'날짜':[20120304, 20110705, 20161204], '점수': [45,60,50]})
DaeguDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      3 non-null      int64
 1   점수      3 non-null      int64
dtypes: int64(2)
memory usage: 176.0 bytes

In [21]:
# 시간 포맷팅
pd.to_datetime(DaeguDf['날짜'], format='%Y%m%d')

0   2012-03-04
1   2011-07-05
2   2016-12-04
Name: 날짜, dtype: datetime64[ns]

In [23]:
print(f'{DaeguDf}') 


print(f'감자: {DaeguDf}')

         날짜  점수
0  20120304  45
1  20110705  60
2  20161204  50
감자:          날짜  점수
0  20120304  45
1  20110705  60
2  20161204  50