In [31]:
# 모듈 로딩
import pandas as pd
PATH = '../DATA_WOO/'
FILENAME = PATH + 'country_timeseries.csv'
# csv -> 데이터프레임
ebola = pd.read_csv(FILENAME, index_col=0)
ebola.head(10)

,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
Date,,,,,,,,,,,,,,,,,
1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN
12/28/2014,281,2706.0,8018.0,9446.0,NaN,NaN,NaN,NaN,NaN,1708.0,3423.0,2758.0,NaN,NaN,NaN,NaN,NaN
12/27/2014,280,2695.0,NaN,9409.0,NaN,NaN,NaN,NaN,NaN,1697.0,NaN,2732.0,NaN,NaN,NaN,NaN,NaN
12/24/2014,277,2630.0,7977.0,9203.0,NaN,NaN,NaN,NaN,NaN,NaN,3413.0,2655.0,NaN,NaN,NaN,NaN,NaN
12/21/2014,273,2597.0,NaN,9004.0,NaN,NaN,NaN,NaN,NaN,1607.0,NaN,2582.0,NaN,NaN,NaN,NaN,NaN
12/20/2014,272,2571.0,7862.0,8939.0,NaN,NaN,NaN,NaN,NaN,1586.0,3384.0,2556.0,NaN,NaN,NaN,NaN,NaN

In [32]:
# 데이터 확인
ebola.info()

<class 'pandas.core.frame.DataFrame'>
Index: 122 entries, 1/5/2015 to 3/22/2014
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Day                  122 non-null    int64
 1   Cases_Guinea         93 non-null     float64
 2   Cases_Liberia        83 non-null     float64
 3   Cases_SierraLeone    87 non-null     float64
 4   Cases_Nigeria        38 non-null     float64
 5   Cases_Senegal        25 non-null     float64
 6   Cases_UnitedStates   18 non-null     float64
 7   Cases_Spain          16 non-null     float64
 8   Cases_Mali           12 non-null     float64
 9   Deaths_Guinea        92 non-null     float64
 10  Deaths_Liberia       81 non-null     float64
 11  Deaths_SierraLeone   87 non-null     float64
 12  Deaths_Nigeria       38 non-null     float64
 13  Deaths_Senegal       22 non-null     float64
 14  Deaths_UnitedStates  18 non-null     float64
 15  Deaths_Spain         16 non-null     float64
 16  Deaths_Mali          12 non-null     float64
dtypes: float64(16), int64(1)
memory usage: 17.2+ KB

In [33]:
ebola.isnull().sum()

Day                      0
Cases_Guinea            29
Cases_Liberia           39
Cases_SierraLeone       35
Cases_Nigeria           84
Cases_Senegal           97
Cases_UnitedStates     104
Cases_Spain            106
Cases_Mali             110
Deaths_Guinea           30
Deaths_Liberia          41
Deaths_SierraLeone      35
Deaths_Nigeria          84
Deaths_Senegal         100
Deaths_UnitedStates    104
Deaths_Spain           106
Deaths_Mali            110
dtype: int64

In [34]:
# 전처리
# NaN 데이터 처리
ebola.fillna(0, inplace= True)
# Data type 정리
ebola.index  =  pd.to_datetime(ebola.index)
ebola.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 122 entries, 2015-01-05 to 2014-03-22
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Day                  122 non-null    int64
 1   Cases_Guinea         122 non-null    float64
 2   Cases_Liberia        122 non-null    float64
 3   Cases_SierraLeone    122 non-null    float64
 4   Cases_Nigeria        122 non-null    float64
 5   Cases_Senegal        122 non-null    float64
 6   Cases_UnitedStates   122 non-null    float64
 7   Cases_Spain          122 non-null    float64
 8   Cases_Mali           122 non-null    float64
 9   Deaths_Guinea        122 non-null    float64
 10  Deaths_Liberia       122 non-null    float64
 11  Deaths_SierraLeone   122 non-null    float64
 12  Deaths_Nigeria       122 non-null    float64
 13  Deaths_Senegal       122 non-null    float64
 14  Deaths_UnitedStates  122 non-null    float64
 15  Deaths_Spain         122 non-null    float64
 16  Deaths_Mali          122 non-null    float64
dtypes: float64(16), int64(1)
memory usage: 17.2 KB

In [37]:
ebola.to_csv('ebola.csv')

In [47]:
# 데이터 가공
# 에볼라 바이러스 발병 후 몇 일이 지났는지에 대한 컬럼 추가
from datetime import date
tdate = date.today()

In [61]:
ebola['발생기간'] = pd.Timestamp(tdate) - ebola.index
ebola['발생기간']

Date
2015-01-05   2740 days
2015-01-04   2741 days
2015-01-03   2742 days
2015-01-02   2743 days
2014-12-31   2745 days
                ...
2014-03-27   3024 days
2014-03-26   3025 days
2014-03-25   3026 days
2014-03-24   3027 days
2014-03-22   3029 days
Name: 발생기간, Length: 122, dtype: timedelta64[ns]

In [72]:
date.ctime(date.today())

'Thu Jul  7 00:00:00 2022'

In [84]:
datept = pd.date_range(start=pd.Timestamp(date.today()), periods= 365, freq='-1D')
datept

DatetimeIndex(['2022-07-07', '2022-07-06', '2022-07-05', '2022-07-04',
               '2022-07-03', '2022-07-02', '2022-07-01', '2022-06-30',
               '2022-06-29', '2022-06-28',
               ...
               '2021-07-17', '2021-07-16', '2021-07-15', '2021-07-14',
               '2021-07-13', '2021-07-12', '2021-07-11', '2021-07-10',
               '2021-07-09', '2021-07-08'],
              dtype='datetime64[ns]', length=365, freq='-1D')

In [87]:

somedf = pd.Series(list(range(len(datept))), index=datept)
somedf

2022-07-07      0
2022-07-06      1
2022-07-05      2
2022-07-04      3
2022-07-03      4
             ...
2021-07-12    360
2021-07-11    361
2021-07-10    362
2021-07-09    363
2021-07-08    364
Freq: -1D, Length: 365, dtype: int64

In [107]:
somedf = pd.DataFrame(somedf, columns = ['개수'])
delindex = somedf.index[somedf.index.day % 2 == 0]
somedf.drop(delindex, inplace=True)


# somedf

In [113]:
a = somedf.index[2]
b = pd.Timestamp('2020-06-04')
somedf.rename({a:b})

             개수
2022-07-07    0
2022-07-05    2
2020-06-04    4
2022-07-01    6
2022-06-29    8
...         ...
2021-07-17  355
2021-07-15  357
2021-07-13  359
2021-07-11  361
2021-07-09  363

[186 rows x 1 columns]

In [115]:
type(ebola['발생기간'][0])

pandas._libs.tslibs.timedeltas.Timedelta

In [124]:
# 새로운 방법
from datetime import datetime
currentTm = datetime.today()
d_days = currentTm - ebola.index
d_days.days

Int64Index([2740, 2741, 2742, 2743, 2745, 2748, 2749, 2752, 2755, 2756,
            ...
            3016, 3019, 3020, 3022, 3023, 3024, 3025, 3026, 3027, 3029],
           dtype='int64', name='Date', length=122)

-datetime -> year, month, day 등  
-timedelta -> 일, 초, 밀리초, 나노초 등