# 시리즈(SERIES) 타입 실습


--Pandas의 1종류(1차원배열 / 세로 벡터) 데이터를 저장하는 타입(type)
--생성: series 객체 생성

In [13]:
# 모듈 로딩
import pandas as pd

sr = pd.Series([1,2,3,4])

In [14]:
# 생성된 Series 객체 데이터 확인하기
sr

0    1
1    2
2    3
3    4
dtype: int64

In [17]:
# series 객체의 속성 확인 -> 객체변수명.속성명
sr.values

array([1, 2, 3, 4], dtype=int64)

In [16]:
sr.index

RangeIndex(start=0, stop=4, step=1)

In [18]:
# 차원 속성
sr.ndim

1

In [19]:
sr.shape

(4,)

In [21]:
sr.array    # 배열: 연속된 메모리공간, 동일한 데이터 타입

<PandasArray>
[1, 2, 3, 4]
Length: 4, dtype: int64

In [22]:
sr.nbytes   # 실제 사용 메모리 바이트, int64는 개당 메모리 8byte 쓴다.

32

In [23]:
sr.size  # 데이터 개수

4

In [24]:
sr.T

0    1
1    2
2    3
3    4
dtype: int64

In [25]:
sr.is_monotonic

True

In [27]:
sr2 = pd.Series([1.4, 'A0', 4.5])
sr2

0    1.4
1     A0
2    4.5
dtype: object

In [28]:
# Series 객체 속성 읽기
sr2.index

RangeIndex(start=0, stop=3, step=1)

In [33]:
print(f'index: {sr2.index}')
print(f'value: {sr2.values}', type(sr2.values))
print(f'array: {sr2.array}')

index: RangeIndex(start=0, stop=3, step=1)
value: [1.4 'A0' 4.5] <class 'numpy.ndarray'>
array: <PandasArray>
[1.4, 'A0', 4.5]
Length: 3, dtype: object

In [34]:
# 딕셔너리 데이터로 시리즈 객체 생성
sr3 = pd.Series({'name': 'hong', 'age': 12, 'loc': 'Daegu'})
sr3

name     hong
age        12
loc     Daegu
dtype: object

In [36]:
# Series 객체 생성
sr = pd.Series(['a','b','c'], index = ['하나', '둘', '셋'])
sr

하나    a
둘     b
셋     c
dtype: object

In [37]:
sr2 = pd.Series(['a','b','c'])
sr2

0    a
1    b
2    c
dtype: object

In [39]:
# 인덱스 새로운 값으로 설정 -> 객체변수명, 속성명 = 새로운값
sr2.index = [11,22,33]
sr2

11    a
22    b
33    c
dtype: object

In [40]:
sr2.axes

[Int64Index([11, 22, 33], dtype='int64')]

In [41]:
sr2.flags

In [48]:
# 시리즈 객체의 원소/요소 다루기
data = sr2[11]   # 시리즈객체[인덱스번호]
data
               # 시

'a'

In [50]:
# 문자형 인덱스로 새롭게 설정
sr2.index = ['one', 'two', 'three']
sr2.index

Index(['one', 'two', 'three'], dtype='object')

In [52]:
sr2['two'], sr2[1], sr2['three'], sr2[2]   # 문자열 key는 정수형이랑 문자형 모두 index로 사용 가능 (인덱스 라벨)

('b', 'b', 'c', 'c')

In [54]:
sr3 = pd.Series({'name': 'hong', 'age': 12})
sr3

name    hong
age       12
dtype: object

In [55]:
sr3.index

Index(['name', 'age'], dtype='object')

In [56]:
sr3['age'], sr3['name']

(12, 'hong')

In [57]:
sr3[0], sr3[1]

('hong', 12)

In [75]:
list_data = ['2019-01-02', 0, True, 4.99, 'Live']
sr4 = pd.Series(list_data)
sr4.index = ['날짜', '날씨', '유무', '기온', '현황']
sr4

날짜    2019-01-02
날씨             0
유무          True
기온          4.99
현황          Live
dtype: object

In [76]:
sr4[0], sr4[2], sr4[3]

('2019-01-02', True, 4.99)

In [77]:
sr4[1:]

날씨       0
유무    True
기온    4.99
현황    Live
dtype: object

In [78]:
sr4[1:3]

날씨       0
유무    True
dtype: object

In [82]:
sr4[[0,2,3]]

날짜    2019-01-02
유무          True
기온          4.99
dtype: object

In [87]:
print(type(sr4[[0,2,3]]))
print(type(sr4[0]))

<class 'pandas.core.series.Series'>
<class 'str'>

In [88]:
sr4['유무':]

유무    True
기온    4.99
현황    Live
dtype: object

In [89]:
sr4[1:4]            # 인덱스 슬라이싱 할때 주의

날씨       0
유무    True
기온    4.99
dtype: object

In [90]:
sr4['날씨': '현황']       # 인덱스 라벨할때는 끝 라벨이 포함된다.

날씨       0
유무    True
기온    4.99
현황    Live
dtype: object