In [1]:
import pandas as pd

In [3]:
DIR_PATH = '../DATA/'
FILE_PATH = DIR_PATH + 'gapminder.tsv'
gapDF = pd.read_csv(FILE_PATH, sep='\t')
gapDF

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

# 데이터 개수와 고윳값
- 컬러별 개수: count() 메서드
- 컬러별 고윳값: unique() 메서드 , nunique() 메서드
- 컬러별 값별 개수: value_counts() 메서드

In [5]:
FILE_NAME2 = DIR_PATH + "iris.csv"
FILE_NAME2

'../DATA/iris.csv'

In [6]:
# 파일 -> 데이터프레임으로 가져오기
irisDF = pd.read_csv(FILE_NAME2)
irisDF

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [7]:
# 데이터 확인하기
# 데이터 요약정보
irisDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Name         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [13]:
# DF의 컬럼 확인
irisDF.columns[::2]

Index(['SepalLength', 'PetalLength', 'Name'], dtype='object')

In [18]:
# 차원 확인
irisDF.ndim, irisDF.shape

(2, (150, 5))

In [16]:
# Name 컬럼 추출
irisDF['Name']

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Name, Length: 150, dtype: object

In [19]:
# Name 컬럼의 데이터 개수
irisDF['Name'].count()

150

In [26]:
# Name 컬럼의 고윳값 -> 값의 종류
print(irisDF['Name'].unique())
irisDF['Name'].nunique()

['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

3

In [21]:
# Name 컬럼의 값의 개수
irisDF['Name'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Name, dtype: int64

In [22]:
gapDF['continent'].value_counts()

Africa      624
Asia        396
Europe      360
Americas    300
Oceania      24
Name: continent, dtype: int64

In [24]:
gapDF[['country', 'continent']].value_counts()

country            continent
Afghanistan        Asia         12
Pakistan           Asia         12
New Zealand        Oceania      12
Nicaragua          Americas     12
Niger              Africa       12
                                ..
Eritrea            Africa       12
Equatorial Guinea  Africa       12
El Salvador        Americas     12
Egypt              Africa       12
Zimbabwe           Africa       12
Length: 142, dtype: int64

In [27]:
FILE_NAME3 = DIR_PATH + 'billboard.csv'
billboardDF = pd.read_csv(FILE_NAME3)

In [33]:
sepal = irisDF['SepalLength']
print(f"SepalLength 컬럼의 데이터 개수: {sepal.count()}")
print(f'SepalLength 컬럼의 값의 종류: {sepal.unique()}')
print(f'SepalLength 컬럼의 값의 개수: {sepal.value_counts()}')

SepalLength 컬럼의 데이터 개수: 150
SepalLength 컬럼의 값의 종류: [5.1 4.9 4.7 4.6 5.  5.4 4.4 4.8 4.3 5.8 5.7 5.2 5.5 4.5 5.3 7.  6.4 6.9
 6.5 6.3 6.6 5.9 6.  6.1 5.6 6.7 6.2 6.8 7.1 7.6 7.3 7.2 7.7 7.4 7.9]
SepalLength 컬럼의 값의 개수: 5.0    10
5.1     9
6.3     9
5.7     8
6.7     8
5.8     7
5.5     7
6.4     7
4.9     6
5.4     6
6.1     6
6.0     6
5.6     6
4.8     5
6.5     5
6.2     4
7.7     4
6.9     4
4.6     4
5.2     4
5.9     3
4.4     3
7.2     3
6.8     3
6.6     2
4.7     2
7.6     1
7.4     1
7.3     1
7.0     1
7.1     1
5.3     1
4.3     1
4.5     1
7.9     1
Name: SepalLength, dtype: int64

In [34]:
sepal.value_counts().max()

10

In [35]:
# SR객체 안에서 최대값이 존재하는 인덱스
sepal.value_counts().argmax()

0

In [36]:
sepal.value_counts().argmin()

26

In [37]:
sepal.value_counts().min()

1

In [38]:
sepal.value_counts().index

Float64Index([5.0, 5.1, 6.3, 5.7, 6.7, 5.8, 5.5, 6.4, 4.9, 5.4, 6.1, 6.0, 5.6,
              4.8, 6.5, 6.2, 7.7, 6.9, 4.6, 5.2, 5.9, 4.4, 7.2, 6.8, 6.6, 4.7,
              7.6, 7.4, 7.3, 7.0, 7.1, 5.3, 4.3, 4.5, 7.9],
             dtype='float64')

In [41]:
# SR객체 안에서 최대값이 존재하는 인덱스 라벨
sepal.value_counts().index[sepal.value_counts().argmax()]

5.0

In [52]:
billboardDF

,year,artist,track,time,date.entered,wk1,wk2,wk3,wk4,wk5,...,wk67,wk68,wk69,wk70,wk71,wk72,wk73,wk74,wk75,wk76
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,87,82.0,72.0,77.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,91,87.0,92.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,81,70.0,68.0,67.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,3 Doors Down,Loser,4:24,2000-10-21,76,76.0,72.0,69.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,57,34.0,25.0,17.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,86,83.0,77.0,74.0,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,85,83.0,83.0,82.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,95,94.0,91.0,85.0,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,99,99.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,matchbox twenty,Bent,4:12,2000-04-29,60,37.0,29.0,24.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
bim = billboardDF.iloc[:,1:].max(axis=1, numeric_only = True)   #
# bimarg = billboardDF.iloc[:,1:].idxmax()
pd.DataFrame([bim], index = ['번호별 max값: '])

,0,1,2,3,4,5,6,7,8,9,...,307,308,309,310,311,312,313,314,315,316
번호별 max값:,99.0,92.0,81.0,76.0,96.0,94.0,100.0,86.0,59.0,89.0,...,96.0,96.0,99.0,99.0,98.0,95.0,91.0,99.0,99.0,60.0

In [55]:
billboardDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 81 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          317 non-null    int64
 1   artist        317 non-null    object
 2   track         317 non-null    object
 3   time          317 non-null    object
 4   date.entered  317 non-null    object
 5   wk1           317 non-null    int64
 6   wk2           312 non-null    float64
 7   wk3           307 non-null    float64
 8   wk4           300 non-null    float64
 9   wk5           292 non-null    float64
 10  wk6           280 non-null    float64
 11  wk7           269 non-null    float64
 12  wk8           260 non-null    float64
 13  wk9           253 non-null    float64
 14  wk10          244 non-null    float64
 15  wk11          236 non-null    float64
 16  wk12          222 non-null    float64
 17  wk13          210 non-null    float64
 18  wk14          204 non-null    float64
 19  wk15          197 non-null    float64
 20  wk16          182 non-null    float64
 21  wk17          177 non-null    float64
 22  wk18          166 non-null    float64
 23  wk19          156 non-null    float64
 24  wk20          146 non-null    float64
 25  wk21          65 non-null     float64
 26  wk22          55 non-null     float64
 27  wk23          48 non-null     float64
 28  wk24          46 non-null     float64
 29  wk25          38 non-null     float64
 30  wk26          36 non-null     float64
 31  wk27          29 non-null     float64
 32  wk28          24 non-null     float64
 33  wk29          20 non-null     float64
 34  wk30          20 non-null     float64
 35  wk31          19 non-null     float64
 36  wk32          18 non-null     float64
 37  wk33          12 non-null     float64
 38  wk34          10 non-null     float64
 39  wk35          9 non-null      float64
 40  wk36          9 non-null      float64
 41  wk37          9 non-null      float64
 42  wk38          8 non-null      float64
 43  wk39          8 non-null      float64
 44  wk40          7 non-null      float64
 45  wk41          7 non-null      float64
 46  wk42          6 non-null      float64
 47  wk43          6 non-null      float64
 48  wk44          6 non-null      float64
 49  wk45          5 non-null      float64
 50  wk46          5 non-null      float64
 51  wk47          5 non-null      float64
 52  wk48          4 non-null      float64
 53  wk49          4 non-null      float64
 54  wk50          4 non-null      float64
 55  wk51          4 non-null      float64
 56  wk52          4 non-null      float64
 57  wk53          4 non-null      float64
 58  wk54          2 non-null      float64
 59  wk55          2 non-null      float64
 60  wk56          2 non-null      float64
 61  wk57          2 non-null      float64
 62  wk58          2 non-null      float64
 63  wk59          2 non-null      float64
 64  wk60          2 non-null      float64
 65  wk61          2 non-null      float64
 66  wk62          2 non-null      float64
 67  wk63          2 non-null      float64
 68  wk64          2 non-null      float64
 69  wk65          1 non-null      float64
 70  wk66          0 non-null      float64
 71  wk67          0 non-null      float64
 72  wk68          0 non-null      float64
 73  wk69          0 non-null      float64
 74  wk70          0 non-null      float64
 75  wk71          0 non-null      float64
 76  wk72          0 non-null      float64
 77  wk73          0 non-null      float64
 78  wk74          0 non-null      float64
 79  wk75          0 non-null      float64
 80  wk76          0 non-null      float64
dtypes: float64(75), int64(2), object(4)
memory usage: 200.7+ KB

In [66]:
irisDF['SepalLength'].unique()

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])