# 통계 관련 메소드 실습

- 데이터에 대한 평균, 표준편차, 중앙값, 최빈값, 상관계수값 관련메서드 활용
- 데이터와 데이터의 관계, 데이터의 분포 등을 파악

In [2]:
# 모듈 로딩 
import pandas as pd

# 파일 관련 변수들
PATH = '../DATA/'
FILENAME = PATH + 'iris.csv'
FILENAME

'../DATA/iris.csv'

In [5]:
# 파일 불러오기
irisDF = pd.read_csv(FILENAME)
irisDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Name         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
irisDF.mean()

C:\Users\User\AppData\Local\Temp\ipykernel_672\244307201.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  irisDF.mean()

SepalLength    5.843333
SepalWidth     3.054000
PetalLength    3.758667
PetalWidth     1.198667
dtype: float64

In [7]:
irisDF.std()

C:\Users\User\AppData\Local\Temp\ipykernel_672\3571167801.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  irisDF.std()

SepalLength    0.828066
SepalWidth     0.433594
PetalLength    1.764420
PetalWidth     0.763161
dtype: float64

In [8]:
irisDF.median()

C:\Users\User\AppData\Local\Temp\ipykernel_672\1330024277.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  irisDF.median()

SepalLength    5.80
SepalWidth     3.00
PetalLength    4.35
PetalWidth     1.30
dtype: float64

In [9]:
irisDF.corr()

             SepalLength  SepalWidth  PetalLength  PetalWidth
SepalLength     1.000000   -0.109369     0.871754    0.817954
SepalWidth     -0.109369    1.000000    -0.420516   -0.356544
PetalLength     0.871754   -0.420516     1.000000    0.962757
PetalWidth      0.817954   -0.356544     0.962757    1.000000

In [21]:
# 컬럼별 평균, 표준편차, 상관계수 출력하기
irisDF2 = irisDF.describe().loc[['mean', 'std']]
irisDF2

      SepalLength  SepalWidth  PetalLength  PetalWidth
mean     5.843333    3.054000     3.758667    1.198667
std      0.828066    0.433594     1.764420    0.763161

In [22]:
irisDF3 = irisDF.corr()
irisDF3

             SepalLength  SepalWidth  PetalLength  PetalWidth
SepalLength     1.000000   -0.109369     0.871754    0.817954
SepalWidth     -0.109369    1.000000    -0.420516   -0.356544
PetalLength     0.871754   -0.420516     1.000000    0.962757
PetalWidth      0.817954   -0.356544     0.962757    1.000000

In [23]:
pd.concat([irisDF2,irisDF3])

             SepalLength  SepalWidth  PetalLength  PetalWidth
mean            5.843333    3.054000     3.758667    1.198667
std             0.828066    0.433594     1.764420    0.763161
SepalLength     1.000000   -0.109369     0.871754    0.817954
SepalWidth     -0.109369    1.000000    -0.420516   -0.356544
PetalLength     0.871754   -0.420516     1.000000    0.962757
PetalWidth      0.817954   -0.356544     0.962757    1.000000

In [26]:
for col in irisDF.columns[:-1]:
    print(f'-----------{col}-----------')
    print(f'표준편차: {irisDF[col].std()}')
    print(f'최빈값: {irisDF[col].mode()}')
    print(f'평균: {irisDF[col].mean()}')
    for icol in irisDF.columns[:-1]:
        if col != icol:
            print(f'{icol} 와의 상관계수: {irisDF[col].corr(irisDF[icol])}')
        else: continue
    print()

-----------SepalLength-----------
표준편차: 0.8280661279778629
최빈값: 0    5.0
Name: SepalLength, dtype: float64
평균: 5.843333333333335
SepalWidth 와의 상관계수: -0.10936924995064937
PetalLength 와의 상관계수: 0.8717541573048718
PetalWidth 와의 상관계수: 0.8179536333691636

-----------SepalWidth-----------
표준편차: 0.4335943113621737
최빈값: 0    3.0
Name: SepalWidth, dtype: float64
평균: 3.0540000000000007
SepalLength 와의 상관계수: -0.10936924995064937
PetalLength 와의 상관계수: -0.42051609640115445
PetalWidth 와의 상관계수: -0.35654408961380535

-----------PetalLength-----------
표준편차: 1.7644204199522617
최빈값: 0    1.5
Name: PetalLength, dtype: float64
평균: 3.7586666666666693
SepalLength 와의 상관계수: 0.8717541573048718
SepalWidth 와의 상관계수: -0.42051609640115445
PetalWidth 와의 상관계수: 0.9627570970509663

-----------PetalWidth-----------
표준편차: 0.7631607417008414
최빈값: 0    0.2
Name: PetalWidth, dtype: float64
평균: 1.1986666666666672
SepalLength 와의 상관계수: 0.8179536333691637
SepalWidth 와의 상관계수: -0.35654408961380535
PetalLength 와의 상관계수: 0.9627570970509663

In [32]:
# max값인 인덱스를 반환하는 함수: argmax 대신 idxmax를 써도된다. 

irisDF['SepalLength'].value_counts().idxmax()

5.0

In [33]:
FILENAME2 = PATH + 'auto_mpg.csv'
pd.read_csv(FILENAME2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10