# pd.Series 연습하는 파일

### series 연산    -> DataFrame도 연산 똑같다
1. Series객체 + 연산자(+,-,*,/) + 숫자
2. Series객체 + 연산자(+,-,*,/) + Series객체
3. Series객체.연산메소드(Series객체, fill_value = 0)

- Series 객체의 모든 원소에 숫자 연산 적용 -> 브로드캐스팅

In [2]:
import pandas as pd

In [3]:
exam_data = {'이름':  ['서준', '우현', '인아'], '수학':[90, 80, 70], '영어':[82, 79, 85], '음악':[40,85,100], '체육':[100,90,90]}
df2 = pd.DataFrame(exam_data)
df2

   이름  수학  영어   음악   체육
0  서준  90  82   40  100
1  우현  80  79   85   90
2  인아  70  85  100   90

In [4]:
# Series 객체 생성
sr = pd.Series([10,20,30,40])
# Series 객체 데이터 확인
sr

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
# 숫자 데이터와 연산 수행(+,-,*,/,//,** 등)
result = sr+5
print(f'결과: \n{result}', f'타입: {type(result)}', sep='\n')

결과:
0    15
1    25
2    35
3    45
dtype: int64
타입: <class 'pandas.core.series.Series'>

In [7]:
result = sr //5 
print(f'결과: \n{result}', f'타입: {type(result)}', sep='\n')

결과:
0    2
1    4
2    6
3    8
dtype: int64
타입: <class 'pandas.core.series.Series'>

In [10]:
# 시리즈 객체끼리 연산 (series + series)
# 인덱스 정렬 후 동일 인덱스끼리 연산 수행
sr1=pd.Series({'국어':90, '영어':40, '수학': 50})
sr2=pd.Series({'수학':70, '국어':90, '영어': 65})
result=sr1+sr2
result

국어    180
수학    120
영어    105
dtype: int64

In [11]:
sr3=pd.Series({'수학':70, '국어':90}) # 동일 인덱스가 없는 경우 연산 수행 안함 -> NaN 빈칸의미
result = sr1 + sr3
result

국어    180.0
수학    120.0
영어      NaN
dtype: float64

In [12]:
# 연산 메소드:fill_value를 채울수있다는 장점
# add, sub, mul, div