# CSV 파일 읽고 컬럼별 최고값과, 값의 개수 출력 max(), value_counts()

In [26]:
import pandas as pd

In [27]:
DIR_NAME = '../DATA/'
FILE_NAME = DIR_NAME + 'iris2.csv'
irisDF = pd.read_csv(FILE_NAME, header=None)
irisDF

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [28]:
# irisDF.max()
irismax = irisDF.describe().loc['max']
irisDF.describe().loc['max']

0    7.9
1    4.4
2    6.9
3    2.5
Name: max, dtype: float64

In [29]:
iriscount = irisDF.count()
irisDF.count()

0    147
1    150
2    150
3    150
4    150
dtype: int64

In [30]:
irismin = irisDF.describe().loc['min']

In [32]:
pd.DataFrame([irismax, irismin, iriscount], index=['max', 'min', 'count'])

           0      1      2      3      4
max      7.9    4.4    6.9    2.5    NaN
min      4.3    2.0    1.0    0.1    NaN
count  147.0  150.0  150.0  150.0  150.0

In [16]:
# staticDF = irisDF.describe()
staticDF

                0           1           2           3
count  147.000000  150.000000  150.000000  150.000000
mean     5.854422    3.054000    3.758667    1.198667
std      0.831094    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [17]:
# staticDF.loc['25%']

0    5.1
1    2.8
2    1.6
3    0.3
Name: 25%, dtype: float64

In [23]:
# irisDF.mean(numeric_only=True)

0    5.854422
1    3.054000
2    3.758667
3    1.198667
dtype: float64

In [24]:
# irisDF.median(numeric_only=True)

0    5.80
1    3.00
2    4.35
3    1.30
dtype: float64

In [38]:
irisDF.columns = ['SL', 'SW', 'PL', 'PW', 'name']
irisDF['SL'].unique()

array([5.1, 4.9, 4.7, 4.6, 5. , nan, 4.4, 5.4, 4.8, 4.3, 5.8, 5.7, 5.2,
       5.5, 4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6,
       6.7, 6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

In [46]:
# 컬럼값이 NaN, Na인 것도 카운팅하고 싶음 -> dropna 파라미터 값 False
# 컬럼값이 오름차순이고 싶음 -> ascending 파라미터 값 True 
# 컬럼값을 빈도수 대신에 비율로 보여주고 싶음 -> normalize 파라미터 값 True
# 컬럼값을 소트하지 않고 싶음 -> sort 파라미터 값 False
irisDF['SL'].value_counts(dropna=False, normalize=True)

5.0    0.066667
5.1    0.060000
6.3    0.060000
6.7    0.053333
6.4    0.046667
5.8    0.046667
5.7    0.046667
5.5    0.046667
5.6    0.040000
6.1    0.040000
6.0    0.040000
4.9    0.040000
5.4    0.033333
6.5    0.033333
7.7    0.026667
6.2    0.026667
6.9    0.026667
5.2    0.026667
4.8    0.026667
4.6    0.026667
NaN    0.020000
5.9    0.020000
4.4    0.020000
7.2    0.020000
6.8    0.020000
6.6    0.013333
4.7    0.013333
7.6    0.006667
7.4    0.006667
7.3    0.006667
7.0    0.006667
7.1    0.006667
5.3    0.006667
4.3    0.006667
4.5    0.006667
7.9    0.006667
Name: SL, dtype: float64

In [48]:
irisDF.mode(numeric_only=True)

    SL   SW   PL   PW
0  5.0  3.0  1.5  0.2

In [ ]:
irisDF