### 적조 데이터 전처리
- 목표: dataset 통합해서 적조여부 출력
- 출처 : 적조관리 시스템 https://www.nifs.go.kr/rtm/TRS/gispop/redtide.jsp

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [4]:
%pip install xlrd

Defaulting to user installation because normal site-packages is not writeable
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ---------------------------------------- 96.5/96.5 kB 1.4 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [11]:
pd.read_excel("./data/19_redtide.xls")

,예찰일자,발생해역,적조생물,밀도(개체수/mL),수온(℃),염분,좌표
0,2019-10-10,통영 연화해역\r\n통영 학림해역,Skeletonema sp.,800~1500,22~22.5,0~0,"[128.37083,34.641666],[128.37083,34.645832],[1..."
1,2019-10-10,남해군 및 하동군 해역,Skeletonema sp.,100~2000,19.9~22.3,15.8~29.4,"[128.0125,34.829166],[128.03334,34.829166],[12..."
2,2019-09-27,NaN,,NaN,NaN,NaN,NaN
3,2019-09-26,부산시 연안,없음,0~0,22~22,18.7~18.7,NaN
4,2019-09-26,전남 완도군,없음,0~0,22.2~22.9,32.1~32.6,NaN
...,...,...,...,...,...,...,...
206,2019-08-20,전남 여수시 백야도 동측,Mesodinium rubrum,1000~1000,26.1~26.1,31.8~31.8,"[127.6625,34.616665],[127.6625,34.620834],[127..."
207,2019-08-20,전남 여수시 백야도 동측,Cochlodinium polykrikoides,30~30,26.1~26.1,31.8~31.8,"[127.6625,34.616665],[127.6625,34.620834],[127..."
208,2019-08-17,전남 여수시 하화도 남측,Mesodinium rubrum,10~15,24.6~24.6,32.3~32.3,"[127.6,34.5625],[127.6,34.566666],[127.6,34.57..."
209,2019-05-17,울산 울주 온산항 신항 남방파제,Noctiluca sp.,0~3000,20.2~20.2,NaN,"[129.40416,35.445835],[129.40834,35.445835]"
210,2019-05-13,NaN,,NaN,NaN,NaN,"[129.25,35.2625]"

In [14]:
PATH = "./data/"
df = pd.DataFrame(columns=["예찰일자", "발생해역", "적조생물", "밀도(개체수/mL)", "수온(℃)" , "염분", "좌표"])
for i in range(17,23):
    df = pd.concat([df, pd.read_excel(PATH+f"{i}_redtide.xls")])

In [17]:
df = df.drop(columns=["수온(℃)", "염분", "좌표"])
df

,예찰일자,발생해역,적조생물,밀도(개체수/mL)
0,2017-08-28,전남 완도군 약산,Mesodinium rubrum,1800~1800
1,2017-08-23,보성군 회천~ 안양면 수문~ 관산읍 장환,Prorodon sp.,500~800
2,2017-08-18,경남 고성군 고성만,Chaetoceros spp.,3000~4000
3,2017-08-14,전남 돌산 동안∼경남 통영 사량∼수우도,Alexandrium sp.,5~35
4,2017-08-14,"경남 통영 산양 오비, 학림",Alexandrium sp.,200~400
...,...,...,...,...
148,2022-06-22,경남 통영시 정량동 연안,Akashiwo sanguinea,230~230
149,2022-06-15,경남 통영시 미수동 연안,Akashiwo sanguinea,190~190
150,2022-06-10,남해군 남해읍 심천 ~ 창선면 서대 해역\r\n남해군 설천면 진목~비란 해역\r\n...,Heterosigma akashiwo,100~300
151,2022-05-31,"경기도 제부도, 항로, 국화도 인근",Noctiluca sp.,100~150
152,2022-05-26,남해군 고현면 차면리,Mesodinium rubrum,NaN

### 적조생물 값 확인

In [18]:
df["적조생물"].unique()

array(['Mesodinium rubrum', 'Prorodon sp.', 'Chaetoceros spp.',
       'Alexandrium sp.', 'Chattonella marina', 'Ceratium furca',
       'Pyramimonas sp.', 'Heterosigma akashiwo', 'Noctiluca sp.',
       'Scrippsiella trochoidea', 'Cryptomonas  sp.',
       'Akashiwo sanguinea', 'Gymnodinium sp.', 'Gymnodinium catenatum',
       ' ', '없음', 'Cochlodinium polykrikoides', 'Leptocylindrus danicus',
       'Chaetoceros curvisetus', '미 확인', 'Skeletonema sp.',
       'Cochlodinium sp.', 'Chaetoceros sp.', 'Skeletonema costatum',
       'Prorocentrum dentatum', 'Ceratium sp.',
       'Pheopolykrikos hartmannii', 'Heterosigma sp.',
       'Prorocentrum minimum'], dtype=object)

### 적조생물 컬럼에서 불필요한 값에 해당되는 행 64개 제거 -> 728개에서 664개

In [26]:
df = df.loc[~df["적조생물"].isin([' ', '없음', '미 확인']),:]
df

,예찰일자,발생해역,적조생물,밀도(개체수/mL)
0,2017-08-28,전남 완도군 약산,Mesodinium rubrum,1800~1800
1,2017-08-23,보성군 회천~ 안양면 수문~ 관산읍 장환,Prorodon sp.,500~800
2,2017-08-18,경남 고성군 고성만,Chaetoceros spp.,3000~4000
3,2017-08-14,전남 돌산 동안∼경남 통영 사량∼수우도,Alexandrium sp.,5~35
4,2017-08-14,"경남 통영 산양 오비, 학림",Alexandrium sp.,200~400
...,...,...,...,...
148,2022-06-22,경남 통영시 정량동 연안,Akashiwo sanguinea,230~230
149,2022-06-15,경남 통영시 미수동 연안,Akashiwo sanguinea,190~190
150,2022-06-10,남해군 남해읍 심천 ~ 창선면 서대 해역\r\n남해군 설천면 진목~비란 해역\r\n...,Heterosigma akashiwo,100~300
151,2022-05-31,"경기도 제부도, 항로, 국화도 인근",Noctiluca sp.,100~150
152,2022-05-26,남해군 고현면 차면리,Mesodinium rubrum,NaN

In [28]:
df["적조생물"].value_counts()

Cochlodinium polykrikoides    499
Ceratium furca                 50
Mesodinium rubrum              24
Akashiwo sanguinea             18
Alexandrium sp.                18
Noctiluca sp.                  11
Heterosigma akashiwo            7
Chaetoceros sp.                 6
Prorocentrum dentatum           6
Chaetoceros curvisetus          3
Leptocylindrus danicus          3
Skeletonema sp.                 3
Chaetoceros spp.                3
Skeletonema costatum            1
Cochlodinium sp.                1
Pheopolykrikos hartmannii       1
Heterosigma sp.                 1
Ceratium sp.                    1
Gymnodinium catenatum           1
Prorodon sp.                    1
Gymnodinium sp.                 1
Cryptomonas  sp.                1
Scrippsiella trochoidea         1
Pyramimonas sp.                 1
Chattonella marina              1
Prorocentrum minimum            1
Name: 적조생물, dtype: int64

### 거제 또는 통영에 해당되는 행

In [65]:
df.loc[df["발생해역"].str.contains("거제|통영", regex=True),:]

,예찰일자,발생해역,적조생물,밀도(개체수/mL)
3,2017-08-14,전남 돌산 동안∼경남 통영 사량∼수우도,Alexandrium sp.,5~35
4,2017-08-14,"경남 통영 산양 오비, 학림",Alexandrium sp.,200~400
7,2017-08-12,거제 저구해역,Alexandrium sp.,5000~
8,2017-08-12,경남 통영 오비 내측,Alexandrium sp.,350~
11,2017-08-11,"경남 통영 오비도~곤리도, 명지~함박, 학림",Alexandrium sp.,450~7000
...,...,...,...,...
89,2022-09-10,경남 남해군 연안 ∼ 통영시 해역,Cochlodinium polykrikoides,0~0
102,2022-09-08,경남 남해군∼통영시 외해역,Cochlodinium polykrikoides,1~1
125,2022-08-31,경남 통영시 사량도 주변해역,Cochlodinium polykrikoides,250~270
148,2022-06-22,경남 통영시 정량동 연안,Akashiwo sanguinea,230~230
149,2022-06-15,경남 통영시 미수동 연안,Akashiwo sanguinea,190~190

### 거제와 통영 모두 해당되는 행

In [71]:
df.loc[(df["발생해역"].str.contains("거제", regex=True)) & (df["발생해역"].str.contains("통영", regex=True)),:]

           예찰일자                  발생해역                        적조생물 밀도(개체수/mL)
85   2019-09-13  경남 거제 저구∼한산 추봉∼통영 장사  Cochlodinium polykrikoides   512~1440
92   2019-09-12  경남 거제 율포∼한산 추봉∼통영 장사  Cochlodinium polykrikoides   520~1640
113  2019-09-09    경남 거제 저구∼장사∼통영 추봉   Cochlodinium polykrikoides   592~1500

### NaN 값 개수

In [50]:
df.isna().sum()

예찰일자           0
발생해역           0
적조생물           0
밀도(개체수/mL)    93
dtype: int64

### 밀도 컬럼의 결측값 제거, 데이터 개수: 664 -> 571

In [55]:
df = df.loc[~df["밀도(개체수/mL)"].isna(),:]
df

,예찰일자,발생해역,적조생물,밀도(개체수/mL)
0,2017-08-28,전남 완도군 약산,Mesodinium rubrum,1800~1800
1,2017-08-23,보성군 회천~ 안양면 수문~ 관산읍 장환,Prorodon sp.,500~800
2,2017-08-18,경남 고성군 고성만,Chaetoceros spp.,3000~4000
3,2017-08-14,전남 돌산 동안∼경남 통영 사량∼수우도,Alexandrium sp.,5~35
4,2017-08-14,"경남 통영 산양 오비, 학림",Alexandrium sp.,200~400
...,...,...,...,...
147,2022-08-04,전남 완도 ~ 여수 외해역,Mesodinium rubrum,100~1850
148,2022-06-22,경남 통영시 정량동 연안,Akashiwo sanguinea,230~230
149,2022-06-15,경남 통영시 미수동 연안,Akashiwo sanguinea,190~190
150,2022-06-10,남해군 남해읍 심천 ~ 창선면 서대 해역\r\n남해군 설천면 진목~비란 해역\r\n...,Heterosigma akashiwo,100~300
151,2022-05-31,"경기도 제부도, 항로, 국화도 인근",Noctiluca sp.,100~150

### 거제, 통영 지역에서 적도 발생 비율

In [70]:
100 * 95 / (365*5+30*9)

4.534606205250597

### 데이터프레임 내보내기

In [74]:
df.to_csv("redside.csv", index=0)