### SQL HOMEWORK

In [2]:
query = ["""select u.userName, b.prodName, u.addr, concat(u.mobile1, u.mobile2) as 연락처 from user_table u
inner join
buy_table b
on u.userID  = b.userID""", 
"""select u.userID , u.userName, b.prodName, u.addr, concat(u.mobile1, u.mobile2) as 연락처 from user_table u
inner join
buy_table b
on u.userID  = b.userID
where u.userID = 'KYM'""",
"""select u.userID , u.userName, b.prodName, u.addr, concat(u.mobile1, u.mobile2) as 연락처 from user_table u
inner join
buy_table b
on u.userID  = b.userID
order by u.userID""",
"""select userID, userName, addr from user_table ut 
where userID in (
select distinct u.userID  from user_table u
inner join
buy_table b
on u.userID  = b.userID )""",
"""select userID, userName, addr, concat(ut.mobile1, ut.mobile2) as 연락처 from user_table ut
where ut.addr in ('경북', '경남') order by ut.userID"""]

In [10]:
import pandas as pd
import pymysql
def makequery():
    for idx, num in enumerate(query): 
        conn = pymysql.connect(host = 'localhost', user='root', password='1161', db='shoppingmall', charset='utf8')
        cur = conn.cursor()  # 객체 생성
        cur.execute(num) # 쿼리 실행
        rows = cur.fetchall() # 모든 데이터를 가져옴
        # print(rows, type(rows))
        df = pd.DataFrame(rows)
        print(f'hw {idx+1}: ')
        print(df)

        cur.close()
        conn.close()

# hw1 ~ hw5 까지 모두 프린트
makequery()

hw 1:
      0    1   2            3
0   강호동  운동화  경북  01122222222
1   강호동  노트북  경북  01122222222
2   김용만  모니터  서울  01044444444
3   박수홍  모니터  서울  01000000000
4   강호동  청바지  경북  01122222222
5   박수홍  메모리  서울  01000000000
6   김제동    책  경남         None
7   이휘재    책  경기  01188888888
8   이휘재  청바지  경기  01188888888
9   박수홍  운동화  서울  01000000000
10  이휘재    책  경기  01188888888
11  박수홍  운동화  서울  01000000000
hw 2:
     0    1    2   3            4
0  KYM  김용만  모니터  서울  01044444444
hw 3:
      0    1    2   3            4
0   KHD  강호동  운동화  경북  01122222222
1   KHD  강호동  노트북  경북  01122222222
2   KHD  강호동  청바지  경북  01122222222
3   KJD  김제동    책  경남         None
4   KYM  김용만  모니터  서울  01044444444
5   LHJ  이휘재    책  경기  01188888888
6   LHJ  이휘재  청바지  경기  01188888888
7   LHJ  이휘재    책  경기  01188888888
8   PSH  박수홍  모니터  서울  01000000000
9   PSH  박수홍  메모리  서울  01000000000
10  PSH  박수홍  운동화  서울  01000000000
11  PSH  박수홍  운동화  서울  01000000000
hw 4:
     0    1   2
0  KHD  강호동  경북
1  KJD  김제동  경남
2  KYM  김용만  서울
3  LHJ  이휘재  경기
4  PSH  박수홍  서울
hw 5:
     0    1   2            3
0  KHD  강호동  경북  01122222222
1  KJD  김제동  경남         None
2  LKK  이경규  경남  01899999999

### 추가 함수 (혹시 데이터 넣을 때 필요)

In [29]:
def input_ft():
    input_list = []
    input_list.append(input('userID를 입력하세요: '))
    input_list.append(input('이름을 입력하세요: '))
    input_list.append(int(input('태어난 해를 입력하세요: ')))
    input_list.append(input('주소를 입력하세요: '))
    input_list.append(input('전화번호 앞자리를 입력하세요: '))
    input_list.append(input('전화번호 뒷자리를 입력하세요: '))
    input_list.append(int(input('키를 입력하세요: ')))
    input_list.append(input('가입날짜를 입력하세요: '))
    print(input_list)
    return input_list

def input_ft2():
    val = input('삭제할 userID를 입력하세요: ')
    return val

In [32]:
import pandas as pd
import pymysql

def makesql(button, database = 'shoppingmall', table = 'user_table'):
    """ button : 'insert' , 'select', 'delete' 중 하나"""
    conn = pymysql.connect(host = 'localhost', user='root', password='1161', db= database, charset='utf8')
    cur = conn.cursor()  # 객체 생성
    # 값 추가
    if button == 'insert':
        query = """insert into user_table ( userID, userName, birthYear, addr, mobile1, mobile2, height, mDate )
        values (%s, %s, %s, %s, %s, %s, %s, %s)"""
    
        input_list=input_ft()
        cur.execute(query, (input_list[0],input_list[1], input_list[2], input_list[3], input_list[4],input_list[5], input_list[6], input_list[7] )) 
    # 값 삭제
    elif button == 'delete':
        query = """delete from user_table where userID = %s"""
        input_value=input_ft2()
        cur.execute(query, (input_value))
    # 전체 데이터 보기
    elif button == 'select':  
        query = "select * from user_table"
        cur.execute(query)
        # query = f"""update user_table set {}"""

    rows = cur.fetchall() # 모든 데이터를 가져옴

    if button in  [ 'insert', 'delete']: 
        conn.commit()
    df = pd.DataFrame(rows)
    print(df)

    cur.close()
    conn.close()

# 
makesql('delete')
makesql('select')

Empty DataFrame
Columns: []
Index: []
      0    1     2   3     4         5    6           7
0   KHD  강호동  1970  경북   011  22222222  182  2007-07-07
1   KJD  김제동  1974  경남  None      None  173  2013-03-03
2   KKJ  김국진  1965  서울   019  33333333  171  2009-09-09
3   KYM  김용만  1967  서울   010  44444444  177  2015-05-05
4   LHJ  이휘재  1972  경기   011  88888888  180  2006-04-04
5   LKK  이경규  1960  경남   018  99999999  170  2004-12-12
6   NHS  남희석  1971  충남   016  66666666  180  2017-04-04
7   PSH  박수홍  1970  서울   010  00000000  183  2012-05-05
8   SDY  신동엽  1971  경기  None      None  176  2008-10-10
9   SKJ  데이터  1994  대구   010  66645555  155  2013-04-04
10  YJS  유재석  1972  서울   010  11111111  178  2008-08-08