# autompg 데이터셋 분석

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df= pd.read_csv("AUTOMPG.csv", sep='\s+', header=None)
df.head()

      0  1      2      3       4     5   6  7                          8
0  18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1  15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2  18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3  16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4  17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino

### 전처리

In [6]:
cond = df.iloc[:,3] == '?'
drop_index=df[cond].index
df = df.drop(drop_index)
df[3] = df[3].astype(float)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       392 non-null    float64
 1   1       392 non-null    int64
 2   2       392 non-null    float64
 3   3       392 non-null    float64
 4   4       392 non-null    float64
 5   5       392 non-null    float64
 6   6       392 non-null    int64
 7   7       392 non-null    int64
 8   8       392 non-null    object
dtypes: float64(5), int64(3), object(1)
memory usage: 30.6+ KB

In [10]:
df.rename(columns={0:'mpg', 1:'cylinder', 2:'displacement', 3:'horsepower', 4:'weight', 5:'acceleration', 6:'model_year', 7:'origin', 8:'car_name'}, inplace=True)

In [12]:
df.corr()

,mpg,cylinder,displacement,horsepower,weight,acceleration,model_year,origin
mpg,1.000000,-0.777618,-0.805127,-0.778427,-0.832244,0.423329,0.580541,0.565209
cylinder,-0.777618,1.000000,0.950823,0.842983,0.897527,-0.504683,-0.345647,-0.568932
displacement,-0.805127,0.950823,1.000000,0.897257,0.932994,-0.543800,-0.369855,-0.614535
horsepower,-0.778427,0.842983,0.897257,1.000000,0.864538,-0.689196,-0.416361,-0.455171
weight,-0.832244,0.897527,0.932994,0.864538,1.000000,-0.416839,-0.309120,-0.585005
acceleration,0.423329,-0.504683,-0.543800,-0.689196,-0.416839,1.000000,0.290316,0.212746
model_year,0.580541,-0.345647,-0.369855,-0.416361,-0.309120,0.290316,1.000000,0.181528
origin,0.565209,-0.568932,-0.614535,-0.455171,-0.585005,0.212746,0.181528,1.000000

### 데이터 모델 생성

In [30]:
target = df['mpg'].to_numpy()
data = df.iloc[:,1:8].to_numpy()

In [31]:
from keras import Sequential
from keras.layers import Dense

In [33]:
data.shape, target.shape

((392, 7), (392,))

In [41]:
model = Sequential()
model.add(Dense(60, activation='relu', input_shape=(7,)))
model.add(Dense(60, activation='relu'))
model.add(Dense(1))
model.summary()
model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 60)                480

 dense_10 (Dense)            (None, 60)                3660

 dense_11 (Dense)            (None, 1)                 61

=================================================================
Total params: 4,201
Trainable params: 4,201
Non-trainable params: 0
_________________________________________________________________

### 모델 평가

In [42]:
model.fit(data,target)

13/13 [==============================] - 1s 2ms/step - loss: 15296.3574 - mae: 58.9512

In [43]:
model.evaluate(data,target)

13/13 [==============================] - 0s 3ms/step - loss: 176.9853 - mae: 11.1979

[176.98533630371094, 11.197880744934082]